/* Reset + global */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

/* Center app */
#root {
  display: flex;
  justify-content: center;
}